.contact-banenr-wrapper{
    flex-direction: column;
    justify-content: center;
}
.contact-banner-heading{
    line-height: 1.3;
    font-size: 1.5rem;
    margin-bottom: 16px;
    @include for-phone-only{
        font-size: 3rem;
    }
}