.home{
    a.hover-box-learn-more.child-link{
        font-size: 1.7rem;
        @extend %oswald;
        line-height: 1;
        @include for-tablet-up{
            font-size: .8rem;
        }
        @include for-phone-only{
            font-size: 2.5rem;
        }
    }
}