{{# Resources Carousel #}}
<div class="row secondary space-75 px">
    <div class="col-8">
        <h3>Start growing your business with some of our most useful content.</h3>
        <div class="space-50"></div>
            <div class="row justify-between">
                <div class="hover-box col-4 my">
                    <div class="hover-box-img-wrapper">
                        <img class="hover-box-img" src="assets/img/hover-box-background.jpeg">
                    </div>
                    <div class="hover-box-body">
                        <div class="hover-box-heading">Article Name</div>
                        <p class="hover-box-content">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata
                            corpora quaeritis. Summus brains sit​​.</p>
                        <a href="#" class="hover-box-learn-more">Learn More ></a>
                    </div>
                </div>
                <div class="hover-box col-4 my">
                    <div class="hover-box-img-wrapper">
                        <img class="hover-box-img" src="assets/img/hover-box-background.jpeg">
                    </div>
                    <div class="hover-box-body">
                        <div class="hover-box-heading">Article Name</div>
                        <p class="hover-box-content">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata
                            corpora quaeritis. Summus brains sit​​.</p>
                        <a href="#" class="hover-box-learn-more">Learn More ></a>
                    </div>
                </div>
                <div class="hover-box col-4 my">
                    <div class="hover-box-img-wrapper">
                        <img class="hover-box-img" src="assets/img/hover-box-background.jpeg">
                    </div>
                    <div class="hover-box-body">
                        <div class="hover-box-heading">Article Name</div>
                        <p class="hover-box-content">Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata
                            corpora quaeritis. Summus brains sit​​.</p>
                        <a href="#" class="hover-box-learn-more">Learn More ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>