<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta_description or " Minnesota based inbound marketing firm "}}">
    <title>{{ meta_title or title or site_title }} | Johnson Jones Marketing</title>
    <link rel="stylesheet" href="{{ theme:css }}">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
</head>


<body>
    {{ partial:nav current="{{ title }}"}} {{# HERO #}}
    <div class="parallax">
        <div class="parallax_group" style="z-index: 2;">
            <div class="parallax_layer parallax_layer_0">
                <img src="/assets/img/JJ_header_layer_1.png" />
            </div>
            <div class="parallax_layer parallax_layer_1">
                <img src="/assets/img/JJ_header_layer_2.png" />
            </div>
            <div class="parallax_layer parallax_layer_2">
                <img src="/assets/img/JJ_header_layer_3.png" />
            </div>
            <div class="parallax_layer parallax_layer_3">
                <div class="hero-content light-text">
                    <h1 class="headline">Change the way you think about
                        <span class="cycle"></span>
                    </h1>
                    <a href="#" class="btn btn-primary">Get Your Free Audit</a>
                </div>
            </div>
        </div>
        <div class="parallax_group" style="z-index: 1;">
            <div class="row parallax-content">
                <div class="col-10 jumbotron" style="margin:{{ foreach:margins }} {{ value }}{{ /foreach:margins }}; padding:{{ foreach:padding }} {{ value }}{{ /foreach:padding }};">
                    <h3 class="center">We provide companies with leads, by adding digital marketing systems and radically improving communications.</h3>
                </div>

                <div class="col-10 justify-between pb">

                    <div class="col-6" style="margin:  32px  0px  64px  0px ; padding:     ;">
                        <h4>Full Service Digital Marketing + Creative</h4>
                        <p>We all know marketing your business online is no longer optional, but with busy schedules it can
                            be hard to find the time. Web design, email marketing, social media, advertising, ect... We’ve
                            got a guy for that.</p>

                    </div>

                    <div class="col-6" style="margin:  32px  0px  64px  0px ; padding:     ;">
                        <h4>Integrated With Your Team</h4>
                        <p>In-house marketers wear a lot of hats, but no single person can do everything effectively. Let us
                            make you look good by sharing the responsibilities, and bridging the gap between marketing and
                            sales.</p>

                    </div>
                    
                </div>

                {{partial:footer}}
            </div>
        </div>
    </div>
</body>

</html>