

//Grid variables
$col-1-width: 8%;
//Grid MIXINS
@mixin col-width($foo) {
    flex-basis: $col-1-width * $foo;
}

//Grid basics
%flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    @include for-phone-only {
        flex-direction: column;
        flex-basis: 100%;
    }
}

%columns {
    @extend %flex;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.row {
    @extend %flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

//Columns
.col-1 {
    @include col-width(1);
    @extend %columns;
}

.col-2 {
    @include col-width(2);
    @extend %columns;
}


.col-3 {
    @include col-width(3);
    @extend %columns;
}


.col-4 {
    @include col-width(4);
    @extend %columns;
}

.col-5 {
    @include col-width(5);
    @extend %columns;
}

.col-6 {
    @include col-width(6);
    @extend %columns;
}

.col-7 {
    @include col-width(7);
    @extend %columns;
}

.col-8 {
    @include col-width(8);
    @extend %columns;
}

.col-9 {
    @include col-width(9);
    @extend %columns;
}

.col-10 {
    @include col-width(10);
    @extend %columns;
}

.col-11 {
    @include col-width(11);
    @extend %columns;
}

.col-12 {
    @include col-width(12);
    @extend %columns;
}

.col-half {
    flex-basis: 50%;
}

.col-stretch {
    flex-basis: 100%;
}

//Alignment Classes
.justify-around {
    justify-content: space-around;
}

.justify-even {
    justify-content: space-evenly;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-stretch {
    justify-content: stretch;
}

.justify-center {
    justify-content: center;
}

//Responsive collapse classes
.collapse-tablet-down {
    @include for-tablet-only{
        flex-basis: 100%;
    }
}

.desktop-half-col{
    @include for-big-desktop-up{
        @include col-width(8);
    }
    @include for-desktop-up{
        @include col-width(6);
    }
}