.btn{
    @extend %oswald;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    line-height: 1;
    padding: 8px 16px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    max-height: 40px;
}

.btn-primary{
    background: $red;
    color: $soft-white;
    border: 1px solid $red;
    border-radius: 3px;
}

.btn-primary:hover{
    background: $light-red;
}

.btn-secondary{
    background: $navy-dark;
    color: $soft-white;
    border: 1px solid $navy-dark;
    border-radius: 3px;
}

.btn-secondary:hover{
    background: $navy-medium;
}

.btn-skeleton{
    background: none;
    color: $soft-white;
    border: 2px solid $soft-white;
    border-radius: 3px;
    padding: 7px 17px;
}

.btn-skeleton:hover{
    background: $soft-white;
    color: $navy-dark;
}

.btn-skeleton-navy{
    background: none;
    color: $navy-dark;
    border: 2px solid $navy-dark;
    border-radius: 3px;
    padding: 7px 17px;
}

.btn-skeleton-navy:hover{
    background: $navy-dark;
    color: $soft-white;
}

.btn-standalone-row a.btn-standalone{
    max-height: 200px;
    font-size: 24px;
    line-height: 2;
}
