.callout {
    @extend %flex;
    min-height: 320px;
    padding: 60px auto 50px;
    overflow: hidden;
}

.callout-bg {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:  cover;
    min-height: 320px;
}

.callout-blue-fliter {
    filter: grayscale(100%) blur(.5px) brightness(30%) contrast(130%) sepia(100%) hue-rotate(170deg) saturate(300%);
}

.callout-bw-fliter {
    filter: grayscale(100%) brightness(80%) contrast(130%);
}

.callout-content {
    text-align: center;
    position: relative;
    box-sizing: border-box;
    @include for-tablet-up{
        padding: 10%;
    }
    padding: 32px 16px;
    font-size: 2vh;
    align-self: center;
}

.callout-content h1 {
    @include for-desktop-up{
        font-size: 2.5rem;
    }
    @include for-phone-only{
        font-size: 3.7rem;
    }
    font-size: 3.3rem;
    padding-bottom: 32px;
}

.callout-content p{
    padding-bottom: 32px;
}