.callout {
    @extend %flex;
    min-height: 320px;
    padding: 60px auto 50px;
}

.callout-bg {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    min-height: 320px;
}

.callout-blue-fliter {
    filter: grayscale(100%) brightness(30%) contrast(130%) sepia(100%) hue-rotate(170deg) saturate(300%);
}

.callout-bw-fliter {
    filter: grayscale(100%) brightness(80%) contrast(130%);
}

.callout-content {
    position: relative;
    box-sizing: border-box;
    @include for-tablet-up{
        padding: 10%;
    }
    padding: 15px;
    font-size: 2vh;
    align-self: center;
}

.callout-content h1 {
    font-size: 2.5rem;
    padding-bottom: 32px;
}

.callout-content p{
    padding-bottom: 32px;
}