.hero {
    @extend %flex;
    position: relative;
}

.banner{
    @extend %flex;
    position: relative;
    margin-bottom: 64px;
}

.hero-bg, .banner-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    min-height: 812px;
}

// .hero-bg-img{
//     position: relative;
//     width: 100%;
//     z-index: 1;
//     height: 100%;
// }
.hero-blue-fliter {
    filter: grayscale(100%) brightness(30%) contrast(130%) sepia(100%) hue-rotate(170deg) saturate(300%);
}

.hero-bw-fliter {
    filter: grayscale(100%) brightness(80%) contrast(130%);
}

.title-divider{
    flex-basis: 100%;
    display: block;
    min-height: 4px;
    max-height: 4px;
    min-width: 100px;
    max-width: 100px;
    background: $soft-white;
    margin: 0 auto 32px;
}

.hero-title{
    color: $soft-white;
    text-align: center;
    font-size: 20px;
}

.hero-content-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-content {
    text-align: center;
    position: absolute;
    box-sizing: border-box;
    @include for-tablet-up{
        padding: 5%;
    }
    padding: 15px;
    font-size: 2vh;
    align-self: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.hero-content h1 {
    @include for-phone-only{
        font-size: 3.5rem;
    }
    font-size: 2.5rem;
    padding-bottom: 64px;
}

.hero-chevron{
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    opacity: 1;
    margin: auto;
    width: 30px;
    animation: blink;
    animation-iteration-count: infinite;
    animation-delay: 3.5s;
    animation-duration: 1.5s;
}

.hero-chevron img{
    animation-delay: 0ms;
    width: 30px;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}
