.nav{
    position: absolute;
    background: none;
    top: 0;
    width: 100%;
    @include for-tablet-only{
        display:none;
    }
    @extend %flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 10px;
    z-index: 100;
    transition-duration: .5s;
}

div.nav.nav-scroll{
    background: $soft-white!important;
}

.nav-scroll .nav-link{
    color: $navy-dark;
}

.nav-logo{
    flex-basis: 20%;
    padding-left: 16px;
}

.nav-logo img{
    display: inline;
    margin: 24px auto 0;
    @include for-desktop-up{
        vertical-align: middle;
    }
    vertical-align: bottom;
}

.nav-links{
    flex-basis: 75%;
    @extend %flex;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}

.nav-item{
    @extend %flex;
    @extend %oswald;
    font-size: 20px;
    align-content: center;
    box-sizing: border-box;
}

.nav-link, .nav-link-mobile{
    position: relative;
    @include for-desktop-up {
        margin: 24px 24px 0 24px;
    }
    vertical-align: middle;
    margin: 20px 20px 0 20px;
    text-decoration: none;
    color: $soft-white;
}

.nav-link-mobile{
    color: $navy-dark;
}

%plus-hover{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 3px;
    left: -17px;
}
.nav-link:hover::before{
    content: url(../../../../assets/img/JohnsonJones_Icon_White.svg);
    @extend %plus-hover;
}

.nav-scroll .nav-link:hover::before{
    content: url(../../../../assets/img/JohnsonJones_Icon_Navy.svg);
}

a.nav-link.link-active::before{
    content: url(../../../../assets/img/JohnsonJones_Icon_White.svg);
    @extend %plus-hover;
}

.nav-scroll a.nav-link.link-active::before{
    content: url(../../../../assets/img/JohnsonJones_Icon_Navy.svg);
}



 .mobile-menu-items a.link-active::before{
    content: url(../../../../assets/img/JohnsonJones_Icon_Navy.svg);
    @extend %plus-hover;
    top: 0px;
}

.mobile-nav{
    @include for-tablet-up{
        display: none;
    }
}

.nav-bar{
    @extend %flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.nav-logo-mobile{
    flex-basis: 50%;
    line-height: 62px;
    margin-left: 16px;
}

.mobile-menu-icon{
    flex-basis: 5%;

}

.mobile-menu-items{
    display: none;
    padding-left: 24px;
} 

.mobile-menu-items .nav-item{
    @extend %flex;
    @extend %oswald;
    font-size: 30px;
    align-content: left;
    box-sizing: border-box;
}

.nav-link-mobile{
    padding-left: 20px;
}

.mobile-menu-items .btn{
    font-size: 28px;
    max-width: 155px;
    vertical-align: middle;
    padding-top: 4px;
    margin-left: 30px;
}
