{{# HERO #}}
<div class="hero justify-center">
        <div class="hero-bg hero-blue-fliter" style="background-image: url(assets/img/pexels-photo-434337.jpeg);"></div>
        <div class="row col-12 justify-center space-50">
            <div class="hero-content light-text">
                <h1>{{ headline }}</h1>
                <a href="#" class="btn btn-primary">Get Your Free Audit</a>
    
            </div>
            <div class="hero-chevron">
                <img src="/assets/img/JohnsonJones_Icon_Chevron_Down.svg">
            </div>
        </div>
    </div>