<div class="row padding">
    <div class="col-1">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        {{ content }}
        BODY TEXT. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat rem, soluta consequatur iste dolorem sint quos sequi. Quisquam expedita sit provident blanditiis temporibus alias doloribus. Dolore repudiandae quam recusandae labore.
        <blockquote>BLOCK QUOTE. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate veritatis doloribus illo.</blockquote>
    </div>
</div>

