<div class="row primary">
    <div class="col-12 padding">
        {{ content }}
    </div>
</div>

<div class="row dark">
    <div class="col-12 padding">
        <h2>Here's some <span class="bold">super cool</span> content</h2>
    </div>
</div>

<div class="row bold">
    <div class="col-12 padding">
        {{ content }}
    </div>
</div>

<div class="row warning">
    <div class="col-12 padding">
        {{ content }}
    </div>
</div>

<div class="row">
    <div class="col-12 dark padding col-stretch justify-around">
        <div class="col-4 bold padding">{{ content }}</div>
        <div class="col-4 primary padding">{{ content }}</div>
    </div>
</div>