{{ blocks }}
  {{ if type == "hero"}}
    {{ partial:hero-left :photo="photo" :headline="headline" }}
  {{ /if }}
{{ /blocks }}
  <div class="row justify-center">
    <div class="hover-box no-shadow col-half separater space-50 px">
        <div class="hover-box-body px">
            <h3>
                I want you to run my marketing.
            </h3>
            <div class="space-100"></div>
            <a href="/what-we-do" class="hover-box-learn-more">Learn More ></a>
        </div>
    </div>
    <div class="hover-box no-shadow col-half space-50 px">
        <div class="hover-box-body px">
            <h3>
                I want to run my own marketing.
            </h3>
            <div class="space-100"></div>
            <a href="/resources" class="hover-box-learn-more">Learn More ></a>
        </div>
    </div>
  </div>

{{partial src="sets/callout"}}
