

body {
    font-family: $typeface;
    font-size: 1rem;
    font-weight: $font-regular;
    line-height: 1.7;
    h1 {
        font-size: 3rem;
        font-weight: $font-light;
    }
    
    h2 {
        font-size: 2.5rem;
        font-weight: $font-regular;
    }
    
    h3 {
        font-size: 2rem;
        font-weight: $font-bold;
    }

    blockquote{
        margin-top: 1rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.3;
    }
    blockquote:before{
        color: #ccc;
        content: '“';
        font-size: 4.5rem;
        line-height: 0.1rem;
        margin-right: 0.75rem;
        vertical-align: -1rem;
    }
}

