// Padding

.p{
    padding: 16px;
}

.pt{
    padding-top: 16px; 
    padding-bottom: 16px; 
}

.pt{
    padding-top: 16px; 
    padding-bottom: 16px; 
}

.pb{
    padding-left: 16px; 
    padding-right: 16px; 
}

.py{
    padding-top: 16px; 
    padding-bottom: 16px; 
}

.px{
    padding-left: 16px; 
    padding-right: 16px; 
}

.pl{
    padding-left: 16px; 
} 

.pr{
    padding-right: 16px; 
} 

//Margins
.m{
    margin: 16px;
}

.mb{
    margin-bottom: 16px; 

}

.mt{
    margin-top: 16px; 
}

.my{
    margin-top: 16px;
    margin-bottom: 16px; 
} 

.mx{
    margin-left: 16px;
    margin-right: 16px; 
} 

.ml{
    margin-left: 16px; 
} 

.mr{
    margin-right: 16px; 
} 

.space-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.space-75{
    padding-top: 75px;
    padding-bottom: 75px;
}

.space-100{
    padding-top: 100px;
    padding-bottom: 100px;
}