// Padding

.p{
    padding: 16px;
}

.pt{
    padding-top: 16px; 
    padding-bottom: 16px; 
}

.pt{
    padding-top: 16px; 
    padding-bottom: 16px; 
}

.pb{
    padding-left: 16px; 
    padding-right: 16px; 
}

.py{
    padding-top: 16px; 
    padding-bottom: 16px; 
}

.px{
    padding-left: 16px; 
    padding-right: 16px; 
}

.pl{
    padding-left: 16px; 
} 

.pr{
    padding-right: 16px; 
} 

//Margins
.m{
    margin: 16px;
}

.mb{
    margin-bottom: 16px; 

}

.mt{
    margin-top: 16px; 
}

.my{
    margin-top: 16px;
    margin-bottom: 16px; 
} 

.mx{
    margin-left: 16px;
    margin-right: 16px; 
} 

.ml{
    margin-left: 16px; 
} 

.mr{
    margin-right: 16px; 
} 

.space-50{
    padding-top: 50px;
    padding-bottom: 50px;
}

.space-75{
    padding-top: 75px;
    padding-bottom: 75px;
}

.space-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

//Shadows

%box-shadow-idle{
    -webkit-box-shadow: 0px 5px 25px -1px rgba(0, 51, 89, 0.2);
    -moz-box-shadow: 0px 5px 25px -1px rgba(0, 51, 89, 0.2);
    box-shadow: 0px 5px 25px -1px rgba(0, 51, 89, 0.2);
}

//Filters
%blue-fliter{
    filter: grayscale(100%) brightness(30%) contrast(130%) sepia(100%) hue-rotate(170deg) saturate(300%);
}

%blue-fliter-light{
    filter: grayscale(100%) brightness(20%) contrast(60%) sepia(100%) hue-rotate(170deg) saturate(300%);
}