//Imports
@import url("https://use.typekit.net/rns0sjx.css");

// Colors

// $primary
// $light
// $faded
// $secondary
// $warning
// $success
// $dark
// $muted
// $bold

//Fonts
$typeface: "neuzeit-grotesk" ,sans-serif;
$font-light: 300;
$font-regular: 400;
$font-semi-bold: 500;
$font-bold: 600;