//Imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:500');

// Colors

$navy-dark: #003359;
$navy-medium: #406683;
$navy-light: #a6b8c5;
$soft-white: #f9f5f2; 
$red: #f12c3e;
$light-red: #f9acb3;
$light-blue: #64cfe9;
$light-blue-2: #8bdbef;
$light-blue-3: #c9eef7;
$black-steel: #080706;

//Fonts
$heading-font: "oswald", sans-serif;
$body-font: "Open Sans" ,sans-serif;
$font-regular: 400;
$font-medium: 500;
  /////////////////////////
 //Color Schemes Classes//
/////////////////////////


//Text Colors
.primary{
    color: $navy-dark;
}

.dark{
    color: $navy-medium;
}

.bold{
    color: $navy-light;
}

.warning{
    color: $red;
}

.light-text{
    color: $soft-white;
}


//Block colors
div.primary{
    background: $soft-white;
}

div.dark{
    background: $navy-dark;
}

div.bold{
    background: $navy-medium;
}

div.warning{
    background: $light-red;
}

//Strong Colors
strong{
    color: $navy-light;
}

.bold strong{
    color: $navy-dark;
}

.warning strong{
    color: $soft-white;
}